{% extends './base.html.twig' %}
{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}
    <h1 class='mt-5'>
    {{ titre }}
    </h1>
    <div class="container">

    <p class="mt-5"><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam cumque corporis, neque minima quia beatae labore, nam provident veniam, consectetur exercitationem dolore. Ex porro velit, molestiae placeat dicta eos. Nisi.</span><span>Nemo aliquam vitae voluptatibus tenetur accusamus officiis et natus asperiores beatae. At accusantium voluptate cupiditate delectus aliquid necessitatibus. In facilis repellendus cupiditate nostrum! Atque, porro rem nulla ullam itaque quasi!</span><span>Iusto in quas, nobis exercitationem dolore, aspernatur doloribus porro fuga quo fugit ullam perferendis. Veniam harum architecto maiores! Blanditiis labore pariatur sequi. Beatae id voluptate natus quasi, laborum et recusandae.</span><span>Ipsam veritatis sapiente natus consectetur eveniet excepturi at molestias laboriosam, repellendus voluptate magnam eligendi quae voluptatem? Iusto consequatur ea dolorem maxime explicabo eos? Repellat possimus doloremque quis at ratione molestias?</span><span>Architecto officia pariatur cumque numquam voluptas assumenda laborum ut excepturi cupiditate recusandae ullam, inventore quas, incidunt, asperiores omnis quibusdam ipsam! Accusamus quaerat non dolorem dolore facilis obcaecati ut reiciendis labore.</span><span>Ad ab dolorum velit odio voluptate. Quia doloremque ea corrupti libero illo aspernatur pariatur nobis cum soluta a ex reiciendis harum, esse sed provident debitis vero aperiam voluptate tempora placeat?</span><span>Eius saepe non voluptatem at rem alias quisquam adipisci labore nisi laborum. Est, ex. Nihil nostrum quasi ullam voluptatibus, doloremque architecto aliquam, aspernatur minima aperiam dolor officiis aliquid dicta voluptatum.</span><span>Obcaecati sed commodi praesentium eius, similique quia cum ut, reiciendis adipisci qui et enim nulla, labore ipsum dolorum ducimus debitis? Iusto asperiores voluptatibus quasi, sint quas nesciunt voluptatem odit fugit?</span><span>Esse neque autem nisi facere similique inventore minima accusantium voluptatibus maxime vero nam totam est quis officia voluptas, molestiae libero, beatae minus sint ad molestias enim excepturi? Repellendus, sit aperiam?</span><span>Veritatis, illum repellat aut nesciunt saepe odio quidem sapiente excepturi ipsa. Delectus, similique suscipit provident, cupiditate autem quia perferendis vitae nemo laudantium ea dolorem eos facilis quidem et? Aliquid, debitis.</span></p>

    </div>
{% endblock %}